<h1 class="projecth1 col-sm-4 col-sm-offset-4">Editing Tutorial</h1>
<%= render 'form' %>

<%= link_to 'Show', @tutorial, :class=> 'newprod btn' %> |
<%= link_to 'Back', tutorials_path, :class=> 'newprod btn' %>
