<h1 class="projecth1 col-sm-4 col-sm-offset-4">Editing Project</h1><br><br><br><br>

<%= render 'tutorials/form' %><br><br>

<%= link_to 'Show', @project, :class=>"newprod btn" %> |
<%= link_to 'Back', projects_path, :class=>"newprod btn" %>
