<h1 class="projecth1 col-sm-10 col-sm-offset-1">
Welcome to the BiotrackTHC tutorial page</h1>
<h3 class="projecth1 col-sm-10 col-sm-offset-1">Support: 844-420-TECH (8324)</h3>
<br><br><br><br><br>

<table class="table table-striped">

  <tbody class="bkground col-lg-10 col-lg-offset-1">
    <% @projects.each do |project| %>
      <tr>
        <td class="col-sm-12">
        <%=link_to project.name.upcase, project, :class => 'btn projname col-md-12' %>

        </td>
        <td>
          <% if tech_signed_in? %>
            <%= link_to 'Edit', edit_project_path(project), :class => 'btn' %>
          <%end%>
        </td>
        <td>
          <% if tech_signed_in? %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if tech_signed_in? %>

<%= link_to 'New Project', new_project_path, :class=> "btn newprod" %>
<%end%>
