/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.carousel-control:hover{
  background-color: rgba(0,0,0,0);
}

.navbar-brand{
  width: 10%;
  height: auto;
}

#tutname{
  text-align: center;
  margin-bottom:35%;
  font-size: 2em;
  background-color: rgba(100,100,100,.4);
}

#tutdesc{
  background-color: rgba(100,100,100,.4);
}

#prodname{
  font-size: 5em;
  text-align: center;
<<<<<<< HEAD
  padding-bottom: 44%;
}

h1 {
  text-align: center;
}
=======
  padding-bottom: 35%;
}
.navbar-text{
  padding-top: -5%;
}
>>>>>>> ee3d1b6a60b40e80638304b37e7463afbb53f4bd
